[2012-02-29 03:28] commadelimited opened #1 "New icon ideas"
Beer mug
Chain
Light bulb
Flame
Target
Shield
Key
Water drop

[2012-02-29 03:41] commadelimited commented on #1
globe
camera (http://thenounproject.com/noun/camera/#icon-No476)
plane
full, half full, empty circles (http://thenounproject.com/noun/contrast/#icon-No546)
no symbol (http://thenounproject.com/noun/no/#icon-No558)
pie chart
eye (http://thenounproject.com/noun/eye/#icon-No421)
coffee (http://thenounproject.com/noun/coffee/#icon-No16)

[2012-02-29 08:11] DGuidi opened #2 ""loading" dialog broken"
referencing the icon pack css, the "loading" dialog that appears using $.mobile.showPageLoadingMsg() appears with a broken image

[2012-02-29 08:21] DGuidi commented on #2
fixed put this code (from jqm 1.0.1 css) after ui-icon definition in jqm-icon-pack.css

.ui-icon-loading {
    background-image: url(images/ajax-loader.png);
    width: 40px;
    height: 40px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-size: 35px 35px
}

[2012-02-29 14:55] commadelimited commented on #2
Thanks Diego...this should be resolved now.

[2012-02-29 14:55] #2 closed, assigned to nobody

[2012-03-01 08:32] DGuidi commented on #2
thanks :)

[2012-03-01 08:36] DGuidi commented on #2
these are the settings to be used with 1.1.0 RC1
.ui-icon-loading {
    background: url(images/ajax-loader.gif);
    background-size: 46px 46px;
}

[2012-03-01 18:01] commadelimited commented on #2
Great. Thank you again Diego.

[2012-03-05 15:00] commadelimited commented on #1
http://www.entypo.com/

[2012-03-07 02:09] commadelimited commented on #1
http://fortawesome.github.com/Font-Awesome/

[2012-03-15 00:02] gercheq commented on #1
Great work! You might consider adding icons for:
- take photo (camera)
- record video (camera)
- record audio (mic)
- type text (keyboard)

[2012-03-15 17:00] commadelimited commented on #1
Thanks for your suggestion gercheq!

[2012-04-09 11:23] linuxonrails commented on #1
Hey Andy! Font-awesome hasn't telephone icon.

Why Font-awesome has not all icons of Original-icons-pack?

It would be wonderfull If only one sprite has all icons (basic + font-awesom-icons).
More simple and more efficient (only one image transfer).

Good work!!!

[2012-04-09 16:10] linuxonrails commented on #1
back icon has the same problem: Font-awesome has no back icon.

http://jquerymobile.com/demos/1.1.0-rc.1/docs/buttons/buttons-icons.html

[2012-04-25 10:00] linuxonrails opened #3 "jqm-icon-pack-1.1.1-fa.css has a invalid UTF-8 byte sequence"
I have the next problem with assets + jqm-icon-pack-1.1.1:

[code]

I have fixed with:

[code]

[2012-04-25 15:44] commadelimited commented on #3
linuxonrails, would you mind issuing a pull request so that I can review?

[2012-04-26 06:06] cmjnelson commented on #3
Thanks @linuxonrails. On a mac I did

`iconv -f UTF-16 -t UTF-8 jqm-icon-pack-1.1.1-fa.css > jqm-icon-pack-1.1.1-fa.FIXED.css`

[2012-04-26 16:25] linuxonrails commented on #3
done: You're asking commadelimited to pull 1 commit into commadelimited:master from linuxonrails:master

[2012-04-27 01:29] commadelimited commented on #3
Hrm. It's not showing up as a pull request. Can you take another look please?

[2012-04-27 09:21] linuxonrails commented on #3
I have other problem fixed in anoother commit:

https://github.com/linuxonrails/jQuery-Mobile-Icon-Pack/commit/6ec2440d485a4e48abdfa40c20cb0e7dcecc1cf2

[2012-04-27 14:03] linuxonrails commented on #3
FIXED

[2012-04-27 14:03] #3 closed, assigned to nobody

[2012-05-10 19:37] leopd opened #5 "License?"
This icon pack is really cool!  Can you please specify what license you're sharing it under?  MIT would be great.  :)

[2012-05-10 21:33] commadelimited commented on #5
The license for the custom icons that I designed are DWTFYW :).

The font awesome icons are CC BY 3.0  (http://creativecommons.org/licenses/by/3.0/) according to their website:
http://fortawesome.github.com/Font-Awesome/ (at the bottom).

[2012-05-10 21:33] #5 closed, assigned to nobody

[2012-05-11 20:12] leopd commented on #5
Awesome.  Thanks!

[2012-05-16 16:10] tegansnyder opened #6 "data-iconpos="notext""
Adding this to a button appears to place a -10px margin on the icon resulting in a off center icon.

[2012-05-17 21:27] commadelimited commented on #6
Tegan..were you using original or font awesome icons?

[2012-05-17 21:41] commadelimited commented on #6
Never mind. I see that it's only happening in the Font awesome icons.

[2012-05-17 21:58] commadelimited commented on #6
This is fixed now Tegan.

[2012-05-17 21:58] #6 closed, assigned to commadelimited

[2012-05-17 22:04] tegansnyder commented on #6
awesome thanks Andy

[2012-05-21 12:49] ghost opened #7 "Do my checkboxes look funny to you?"
Notice how I dont see a check mark in the box. Am I doing it wrong?
unchecked:
![unchecked](http://reallifedata.com/Transfer/1.png)
checked
![checked](http://reallifedata.com/Transfer/2.png)

[2012-05-21 19:19] sneakywombat opened #8 "grid icon not aligned correctly in chrome"
.ui-icon::before {
margin-left: 3px;
}

seems to offset the grid icon when used in google chrome 19.  Firefox (latest) worked fine with that rule.  Disabling it in chrome makes the grid icon line up correctly.

[2012-05-22 20:50] commadelimited commented on #7
Pete. Looks like an offset bug. I'll get this fixed in a revision coming soon.

[2012-05-23 12:52] ghost commented on #7
Thanks Andy!
I've been making an app that hits many of the different features of
jqmobile and I must say everything except the checkboxes look dead on
perfect.
Coming from a data programmer (who is far from an expert in css) your
contribution has been a huge help in my project and I do hope that jquery
mobile folds your work in to their releases.

On 22 May 2012 16:50, Andy Matthews <
reply@reply.

[2012-05-25 14:30] commadelimited commented on #7
Pete...

I took a look at the icon source and it works fine for me. I also added a checkbox and radio button sample to my demo page for the original icons, please take a look and confirm you're using the same code.

If that doesn't solve it, could you please post a snippet of your code that illustrates the problem and I'll see if I can figure out what it might be.

[2012-05-25 14:31] commadelimited commented on #7
Btw, I updated the icon images as I didn't realize they weren't transparent like the new 1.1 icons from jQuery Mobile code.

[2012-06-07 15:52] menex opened #9 "font-awesome show a Plus sign"
Just downloaded the Icon pack but all the font-awesome fonts shows a plus sign

[2012-06-08 02:05] commadelimited commented on #9
@menex you're gonna have to give me more to go on than that.

Is this hosted online or on your local machine?
Are you getting any errors in console when you first load the page?
Are you making sure the path to the CSS file is correct, and to the font files themselves?

[2012-06-08 13:35] commadelimited commented on #9
Menex...

It looks like I made a mistake in /font-awesome/index.html.

I updated the version of the CSS file, but forgot to update the reference to that file in index.html.

Please change this line:
`<link rel="stylesheet" href="jqm-icon-pack-1.1.1-fa.css" />`

to this
`<link rel="stylesheet" href="jqm-icon-pack-1.1.2-fa.css" />`

[2012-06-08 13:35] #9 closed, assigned to nobody

[2012-06-08 13:35] commadelimited commented on #9
By the way, I'm going to be releasing an update to Icon Pack today, and this will be fixed in it. You're welcome to wait.

[2012-06-08 13:45] menex commented on #9
Great got it working thanks for the support.

[2012-06-08 15:14] commadelimited commented on #9
My pleasure Menex.

I just pushed the update to Icon Pack. 70 new icons and a few minor fixes for the original icons.

[2012-06-08 15:59] menex commented on #9
Thanks They look Great. Keep it up Man.

[2012-06-21 08:12] Koniak opened #11 "Navbar and Font awesome not working correctly"
When using the font awesome icons in a navbar it does not work correctly:
- The icons are placed so high above the text that its partly outside of the navbar button.
- data-iconpos does not work. The icon is always shown above the text. (and "notext" does not hide the text)

The problem has been replicated in Chrome and Firefox.

With the following code sample all icons are still displayed with te

[2012-06-21 14:11] #7 closed, assigned to commadelimited

[2012-06-21 14:11] commadelimited commented on #8
This should be fixed in an update coming later today.

[2012-06-21 14:11] #8 closed, assigned to commadelimited

[2012-06-21 14:12] commadelimited commented on #11
@Koniak, do you have a page online where I can examine this issue?

[2012-06-23 13:59] Koniak commented on #11
Hi, thanks for your quick response! I have now uploaded an example at:
http://fa.koniakowski.com.

[2012-06-25 11:35] commadelimited commented on #11
@koniak...

Please start by upgrading to Icon Pack 2.1. Last week I released an update which included all of the original and extended icons plus the font awesome icons.

As for the positioning please switch to 2.1 and let's see if that's still a problem. I did some adjustments as well.

[2012-06-27 10:39] Koniak commented on #11
Hi,

Updated to the latest Github version but it behaves exactly the same. I updated the uploaded example as well, so you can test your self.

[2012-07-01 16:34] ghost opened #13 "Split lists layout bug"
After integrating your updates into my app I found the following issue: Lists that have split icons do not show the icons correctly.

To re-create the bug, add this to your /font-awesome/index.html page:

[code]

You will see the icon is hiding off to the lower left hand of the circle.
I was able to fix my issue by commenting out line 18 of the fontawesome.css

[2012-07-10 15:25] commadelimited commented on #13
@pweissbrod this issue is fixed in a release I pushed just now.

[2012-07-10 15:25] #13 closed, assigned to nobody

[2012-07-17 06:26] bertvh opened #15 "Loading image not restored correctly"
This is the css from jqm 1.1.0

`.ui-icon-loading {
    background: url(images/ajax-loader.gif);
    background-size: 46px 46px;
}`

This is what the icon pack restores it to:

`.ui-icon-loading {
    background-image: url("images/ajax-loader.png");
    background-size: 35px 35px;
    border-radius: 20px 20px 20px 20px;
    height: 40px;
    width: 40px;
}`

Meaning no animated loader + not ligned

[2012-07-18 10:40] Koniak commented on #11
Hi Andy,

Have you had time to look at my example, which is using your latest (27/6) version?

[2012-07-18 15:31] commadelimited commented on #11
It looks like the icons at the top display properly now.

As for your code, I can't duplicate your example locally. I've tried using jQuery Mobile 1.1.0 and the newly released 1.1.1. I've tried using both original icon pack and the fa icon pack.

[2012-07-19 10:10] Koniak commented on #11
Updated to fa pack 2.1.2 and then the footer icons returned to the correct place. (The "original Icon pack" was always in the correct place)

Thank you Andy!

[2012-07-19 10:20] Koniak commented on #11
Closing....

[2012-07-19 10:20] #11 closed, assigned to nobody

[2012-07-19 11:39] commadelimited commented on #11
Great. Glad to help out.

[2012-07-25 17:24] stevepeak opened #17 "css updates"
Fix for ui-navbar with icons not on top.
Fix for .ui-controlgroup-horizontal with buttons with data-iconpos="notext"

.ui-navbar[data-iconpos="top"] .ui-icon {
    margin-top: 0 !important;
}

.ui-controlgroup-horizontal .ui-btn-icon-notext{
    margin: 3px -1px 0 0 !important;
}
.ui-controlgroup-horizontal .ui-btn-icon-notext .ui-btn-inner .ui-icon{
    top: 0px;
    left: 0px;
}

[2012-07-25 17:54] commadelimited commented on #17
Thanks Steve. Would you mind opening a pull request for this so that you can get credit?

[2012-07-25 18:58] stevepeak commented on #17
I'm new to Github as you can see :) I hope I did this correctly. So I fork it and then make the changes?

Thanks! Your icon pack is great! I'm building some cool stuff over here if your interested in checking it out?

Best Regards

Steve Peak

On Jul 25, 2012, at 12:54 PM, Andy Matthews wrote:

[2012-07-27 14:43] commadelimited commented on #17
Steve...you got it. Fork this project, make your changes, then submit a pull request.

[2012-08-01 09:49] monkey-jd opened #19 "data-iconpos="top""
Buttons with data-iconpos set to top aren't rendered as they should (compared to jquery mobile).

Actual rendering of buttons
http://s12.postimage.org/i8i72awgt/bug.png
Expected rendering of buttons (without jQuery-Mobile-Icon-Pack)
http://s10.postimage.org/ozbzxm9eh/image.png

minimal Example (to get the expected result remove the icon pack css):
http://pastebin.com/FnZKCQiz

[2012-08-08 10:32] ghost opened #20 "food related icon?"
Hi,

thank you for this awesome icon package. I want to use it for a restaurant page and looking for an icon to represent the meals. Any chance to get a knife+fork icon?

Best,

Mike

[2012-08-08 10:35] ghost opened #21 "Windows Phone not showing icons"
Hi Matt,

posting the screenshot you asked for here too http://www.abload.de/image.php?img=winxmdvz.jpg

Best,

Mike

[2012-10-12 05:49] brandonb927 opened #23 "Retina-display and HD icons"
I have not tested this on a "retina-display" of an iPhone (4[s],5) but my Galaxy Nexus GSM with Android 4.1.2 has a 315PPI display and with `-webkit-min-device-pixel-ratio: 1.3` it is caught by the Media query. Needless to say, when using unmodified versions of this CSS, I cannot not for the life of me get my Nexus to display the HD icons.

I tried playing with the pixel ratios in the media querie

[2012-10-12 05:56] #23 closed, assigned to nobody

[2012-10-12 05:56] brandonb927 commented on #23
Annnnnnd I didn't quite know how that was gonna play out when I submitted a pull request! Still learning Github!

[2012-10-17 23:12] hamx0r opened #25 "Icons squished on iPhone and Android devices"
I can test my mobile site in Chrome under Windows, Mac and Linux, and the Font Awesome icons look, well, awesome.  Once I pull up the same page in my mobile browser (the stock browser on Android or stock Safari on iPhone) the icons which are specifically non-stock jQuery Mobile look squished as if the browser is forcing 3 icons to take the space of 1.

Screen shot <a href="https://plus.google.com/

[2012-11-07 13:24] ghost opened #26 "ui-icon-forward"
Ciao Andy,

I think there is a typo at row 237 on jqm-icon-pack-2.1.2-fa.css:

.ui-icon-faforward:before              { content: "\f04e"; }

should be

.ui-icon-forward:before              { content: "\f04e"; }

[2012-11-09 06:41] stevevance opened #27 "Icon Pack not replacing jQuery Mobile's icons"
In my page I reference the jQuery Mobile (JQM) CSS file and then the Font Awesome (FA) Icon Pack CSS file. When the icon has the same name in JQM as in FA, the JQM version is used which fails to show the retina version. However, if I change the icon to a name only available in FA, the FA version is used and the retina version shows (when @media is matched, like in iPhone 5 simulator in Xcode).

Th

[2012-11-12 09:13] matthewsheeran commented on #26
Na! Names are designed not to conflict with the original "forward" name in the original phongegap icon set hence "faforward" like the "fahome" I also found.

My problem is a different one: i am after a "play" icon e.g. '|>' flipped horizontally (or mirrored across a vertical centreline) as an "reverse" or "reverseplay" icon <|'.

Note that "reverse" is unused in all the namespaces but "reverseplay

[2012-11-20 22:58] matthewsheeran commented on #1
Yeah: needs a "reverse" to "play"!
Shall I get modify permissions, Git, check it out and add it: it is easy enough to revese the icon, add the CSS and bump all the others after it...

[2012-11-29 22:36] johndhancock opened #28 "Home icon a little off to the left"
The home icon is a little off-center to the left. Setting the background-position to -575px -0 seems to have fixed it.

[2012-12-18 03:06] ghost commented on #25
Hi, hamx0r,

Did you ever find a workaround for this? I'm having the same trouble.

Additional datapoint: this only happens if I'm using a theme created using the JQM ThemeRoller, not if I'm using the stock JQM theme. It looks like you're using a custom theme too.

[2012-12-18 03:23] ghost commented on #25
Screenshots below:

Using standard theme:

http://games.contraterrene.com/screenshots/standard_theme.png

The home icon appears normal using the standard theme.

Using ThemeRoller theme:

http://games.contraterrene.com/screenshots/custom_theme.png

The home icon is squished to the top, and the wrench icon also appears. There are only two icons squeezed in on this screenshot, but some of the icons

[2012-12-19 20:51] hamx0r commented on #25
Hi There,

The workaround was to use the icon pack's name for the icon instead of the
JQM native name.  so insead of (im going based on memory here) icon-plus
youd use icon-fa-plus (for the Font Awesome pack).  the proble seems to
come from mixing names from different packs.  all of the native icons
appear to be in the FA pack under a different name.
hope that helps!
jason

On Tue, Dec 18, 2012 at

[2012-12-20 05:42] ghost commented on #25
Thanks! I'll give it a try.

[2012-12-20 23:17] hamx0r commented on #25
Hi Tony

The workaround for me was to use the icon pack names for the native icons.
 I'm not by my code now, but if the normal JQM name was "icon-plus" and the
icon pack/font awesome name for the same looking icon is "icon-fa-add" then
use "icon-fa-add".  it seems all the native icons show up in the FA pack
under different names, and the weird icon squishing happens when trying to
use the native n

[2012-12-25 18:00] ghost commented on #25
Seems to work fine. Thanks!

[2012-12-26 05:45] hamx0r commented on #25
sure thing!  glad to help!

On Tue, Dec 25, 2012 at 7:00 PM, Tony Hursh notifications@github.comwrote:

[2012-12-28 16:37] halcyon1234 commented on #1
![Uploading icon-group-white-18.png . . .]()
To complement the icon-user, how about icon-group (see attached-- or if I've messed up the attachment, imgur link below)
http://i.imgur.com/7IknU.png

[2013-01-04 16:06] trav-ma commented on #25
Great work around for the button icons but that doesn't fix the issue with the listview and check box icons. Does anyone have a more comprehensive fix for this?

[2013-01-04 16:43] trav-ma commented on #25
Ah, there is an easy fix for this here.

http://stackoverflow.com/questions/14160716/jquery-mobile-icon-pack-squished-on-iphone

Simply make sure your FA Icon CSS file is declared after your custom theme.

[2013-01-08 18:49] commadelimited commented on #1
@linuxonrails The primary reason I'm using multiple image sources is to keep backwards compatibility with the oiginal jQuery Mobile source. That way if people still want to keep using some of the original icons alongside Font Awesome icons they still can.

[2013-01-08 18:50] commadelimited commented on #1
FYI. I'm going to close this ticket in favor of a new one. Some of the suggestions here have been implemented in Font Awesome

[2013-01-08 18:50] #1 closed, assigned to nobody

[2013-01-08 18:50] #15 closed, assigned to nobody

[2013-01-08 18:51] #19 closed, assigned to nobody

[2013-01-08 18:52] commadelimited commented on #20
Ye. A new version of Icon Pack is coming soon with a fork/spoon icon.

[2013-01-08 18:52] #20 closed, assigned to nobody

[2013-01-08 18:53] commadelimited commented on #21
At this time I don't have a way to test the issue. We'll see if it gets fixed in a newer release of either Windows Phone or of Icon Pack.

[2013-01-08 18:53] #21 closed, assigned to nobody

[2013-01-08 18:55] #25 closed, assigned to nobody

[2013-01-08 18:55] #26 closed, assigned to nobody

[2013-01-08 19:00] commadelimited commented on #27
@stevevance do you have an example of this? To work properly the icon-pack CSS file needs to be included after the jquery mobile CSS file. Is this the case?

[2013-01-08 19:01] commadelimited commented on #28
I tested that out on my machine and changing 1px to 0 moves the icon even further to the left. A new version is coming within a week or two so keep an eye open for that.

[2013-01-08 19:01] #28 closed, assigned to nobody

[2013-01-09 02:58] stevevance commented on #27
I looked at all of the pages in my website and they all include FA CSS after jQueryMobile CSS.

I never found a fix, but I worked my way around it by just creating new custom icons in jQueryMobile for the few that I needed. Since this happened two months ago, I don't fully remember the circumstances. I'm going to close this now and if it comes up again, I'll be back.

[2013-01-09 02:58] #27 closed, assigned to nobody

[2013-01-09 04:58] commadelimited commented on #27
Great. Apologies again about the delay in responding to this.

[2013-01-11 23:18] WayneHiller opened #29 "Icons are shifted a little to the left."
I am using the latest release 2.1.2 and all the icon images are shifted a little off center to the right of the circle. Any ideas what might be going on?

[2013-01-13 00:54] urbien commented on #27
I am also interested in completely replacing JQM icons with the icon font icons, so that it works in on retina and not retina displays. I also want to avoid downloading extra image file.
@commadelimited is it possible to do that?
@stevevance can you share the definitions you added to FA css?

[2013-01-13 02:30] commadelimited commented on #27
@Urbien...

To completely replace the original icons, you'd have to edit the framework's CSS file to remove the PNG request. Be  cautious about this because some of the icons used by jQuery Mobile can't be replaced in the standard way...the search icon for example.

[2013-01-14 19:03] stevevance commented on #27
@urbien I added new icon definitions to my websites custom stylesheet. It looks like this:

[code]

And the same icon for retina:

[code]

[2013-01-14 19:49] urbien commented on #27
@commadelimited, @stevevance thank you for your replies, I will open an issue on jqm's github and see what they say.

[2013-01-15 18:21] leopittoni opened #30 "icon position in jquery mobile 1.3"
Hi!
In jquery mobile 1.3 the normal icons of jquery mobile are shifted to the top, if I include the new css file...

[2013-01-24 15:56] seba229 commented on #6
Hey! I just found out that your fix for issue #6 leads to problems with buttons in horizontal control groups:

![buttons](https://f.cloud.github.com/assets/3371430/94032/8b79db8c-663e-11e2-8a8d-69afffd99a4a.jpg)

If I remove this part from the css file, the icons are shown correctly:

.ui-btn-icon-notext .ui-btn-inner .ui-icon {
    margin: 1px 1px 2px 2px !important;
}

[2013-02-06 02:42] #17 closed, assigned to nobody

[2013-02-06 02:44] commadelimited commented on #29
Wayne...

Do you have an example. I spent a good amount of time making sure the position of the icons was correct. Can you provide a little more information such as browser and browser version? A screenshot might also help.

[2013-02-06 02:44] commadelimited commented on #30
Do you have an example? I spent a good amount of time making sure the position of the icons was correct. Can you provide a little more information such as browser and browser version? A screenshot might also help.

[2013-02-11 00:21] sibartlett commented on #30
I can confirm that the alignment of all the normal icons is not correct when using jQuery Mobile 1.3, and I tested using Chrome and Firefox.

[2013-02-11 00:26] sibartlett commented on #30
Looks like this icon pack needs to be updated - there are two new icons in jQuery Mobile 1.3.

[2013-02-12 04:49] commadelimited commented on #30
Yep. Looks like an edit icon and a "list" icon, ala Facebook style side nav.

http://jquerymobile.com/demos/1.3.0-rc.1/css/themes/default/images/icons-36-black.png

[2013-02-19 06:43] urbien opened #32 "support for jquery mobile themes"
icon color and background are hardcoded in fa css, I guess that is the default. What is the best way to apply the jqm theme colors for this icon pack?

[2013-03-20 09:51] mayooresan opened #33 "Nav bar icons are partially visible"
When nav bar icons are set to the top they are partially visible when used Font Awesome Icon Pack Usage.

Please find the screen shot below.
![custom icon error](https://f.cloud.github.com/assets/137518/279989/89a9607c-9143-11e2-966e-3bfbc19e65ad.PNG)

other custom icons are looking OK for me.

Thanks for the great icons and hope there will be a fix for it.

[2013-03-20 09:54] mayooresan commented on #32
I don't think those are hard coded themes. I can change the theme. See the example below

[code]

![custom theme](https://f.cloud.github.com/assets/137518/279998/269354ba-9144-11e2-9e4b-90d18a0f6be6.PNG)

[2013-03-21 18:03] RomaDotDev opened #34 "Fontawsome font doesn't show in Opera Mobile"
Fontawsome custom font generated by your service works great in any Webkit browser and even in Firefox Mobile. Unfortunately the latest Opera Mobile (12.1) doesn't display fonts (tested on Android App and in Opera Emulator).

![fontawsomebug](https://f.cloud.github.com/assets/1380457/287093/7253ffa2-924e-11e2-8781-1f731bd98017.png)

However after I generated my own custom font using <a href="http:

[2013-03-22 06:17] stevevance commented on #30
Screenshot of the issue.
![Screen Shot 2013-03-22 at 01 16 42 ](https://f.cloud.github.com/assets/1330459/289591/197f4f52-92b8-11e2-921a-2d3ef7566fbe.png)

[2013-03-25 23:24] smatthews1999 opened #35 "Buttons with no text are displaying off center"
Hi .. I'm having a problem with all buttons that have a data-iconpos='notext'.

Any ideas?

TIA
Sam

css:

[code]

html:

[code]

![Untitled](https://f.cloud.github.com/assets/562964/300708/2fbc0e08-95a2-11e2-90e1-9b8d20380f79.png)

[2013-03-27 15:21] butchewing commented on #33
It seams to work as expected if you comment out margin-top: -10px !important; on .ui-icon

[code]

[2013-03-31 22:52] stevevance commented on #30
You can see the code here: http://bikechi.com/map.html

[2013-03-31 22:55] stevevance commented on #33
@butchewing That fixed this issue for me: https://github.com/commadelimited/jQuery-Mobile-Icon-Pack/issues/30

[2013-04-01 04:30] commadelimited commented on #33
Just pushed the fix for this.

[2013-04-01 04:30] #33 closed, assigned to nobody

[2013-04-01 04:30] commadelimited commented on #30
Just pushed the fix for this.

[2013-04-01 04:30] #30 closed, assigned to nobody

[2013-04-01 04:31] commadelimited commented on #35
@smatthews1999 do you perhaps have a demo URL I can examine? I'm not sure what you're using to accomplish that layout.

[2013-04-01 04:40] commadelimited commented on #34
@irsick, thanks for reporting this issue. I've applied the fix recommended in the article you linked:

http://jqmiconpack.andymatthews.net/

[2013-04-01 04:40] #34 closed, assigned to nobody

[2013-04-01 04:41] commadelimited commented on #32
@urbien can you confirm what @mayooresan mentions?

[2013-04-01 04:41] #29 closed, assigned to nobody

[2013-04-01 16:43] urbien commented on #32
investigating some more, will let you know today

[2013-04-02 16:06] urbien commented on #32
after more testing it looks like themes work with font awesome. My bad. @mayooresan thanks for setting me straight. @commadelimited thank you for this work, we use it extensively in [Urbini](http://github.com/urbien/urbini), a mobile app builder for geeks-who-can't-code.

[2013-04-02 16:06] #32 closed, assigned to nobody

[2013-04-02 16:22] commadelimited commented on #32
Right on! Super exciting. Glad you like them.

[2013-04-20 18:19] blueskyfish opened #36 "Default icon is not visible in jQuery Mobile 1.3 / Nexus 4"
Hello,
The default icon is not visible when displayed in the Nexus 4.
With remote debugging I can turn off the icons "images/icons-36-white-pack.png" then the icons are visible again.

[2013-04-22 11:02] geiregjo commented on #6
I have the same issue that seba229 has. The css selector is not strict enought I think.

[2013-05-04 12:40] barbalex opened #39 "ui-icon-info not centered"
Hi and thanks for this great tool.

I changed your css like this:
.ui-icon-info { background-position: -540px -0; }
to
.ui-icon-info { background-position: -539px -0; }

This makes the info symbol nicely centered.

Cheers, Alex

[2013-05-06 15:48] lwbrown opened #40 "BG Color Of Radio Buttons & Checkboxes"
I am trying to figure out what is causing the RB and CB background color to be dark gray. On most of my screens I am using the default JQM color scheme instead of applying a data-theme. However if I apply a data-theme to either RB or CB the bg color is still dark gray.

Is there a style I am overlooking which causes the dark gray color? Thanks.

[2013-05-30 05:59] Sheile opened #42 "Some difference between css and scss."
`jqm-icon-pack-3.0.0-fa.scss` contains patch by a0801c2cd2a3c4db778b8f57d49354d2dedc1ab5.
But, `jqm-icon-pack-3.0.0-fa.css` does NOT contain it.

As a result, `jqm-icon-pack-3.0.0-fa.css` has a problem to switch background-image with retina display.

Please recreate css file from scss.

[2013-06-10 22:24] mattpal opened #43 "Unable to use font awesome icons with same name as jqm icons"
I just ran into an issue where I want to use "icon-star" from font awesome, as bundled with the jqm font pack here.  However, if i use "class='ui-icon-star'", as you probably know it will grab the png file for the jqm star so I can't scale it.

Is there any easy work around for this?  It'd be nice to have those FA icons that collide with JQM icons available, perhaps with another name (class='ui-fa

[2013-06-10 22:28] mattpal commented on #43
Or maybe "ui-icon-fastar"! Sorry, I will close this.

[2013-06-10 22:28] #43 closed, assigned to nobody

[2013-06-17 19:54] commadelimited commented on #42
Thanks for catching this @Sheile, I've rebuilt the CSS file in the most recent push.

[2013-06-17 19:54] #42 closed, assigned to nobody

[2013-06-17 19:55] commadelimited commented on #40
This was my fault. Issue #41 resolved the background color problem.

[2013-06-17 19:55] #40 closed, assigned to nobody

[2013-06-17 19:57] commadelimited commented on #36
Could you please provide a little more information, or perhaps some sample code which can be previewed? A JSFiddle would be ideal.

[2013-06-17 19:57] #35 closed, assigned to nobody

[2013-06-21 16:30] commadelimited commented on #39
@barbalex, can you post an example of what you're talking about please? I

[2013-06-21 17:49] #36 closed, assigned to nobody

[2013-06-21 17:49] #39 closed, assigned to nobody

[2013-06-26 19:24] onigetoc opened #45 "icon are not well centered"
icon are not well centered, they seem to be one or 2 pixels at left from the center

[2013-06-28 18:24] commadelimited commented on #45
Could you provide a screenshot, as well as your browser and version? It would also help to indicate which icons you're talking about.

[2013-07-09 17:12] Slimicus opened #46 "ui-icon-alt"
Are alt icons supported for the original icon set? I see them defined, but when I add the class to a data-role="button" element, it's not appearing correctly for me (and when I add it to your original example page it also causes issues)

[2013-07-10 13:41] commadelimited commented on #46
Could you provide some additional detail please @Slimicus? A code sample or demo URL would be ideal.

[2013-07-10 14:33] Slimicus commented on #46
Sure thing, when I alter the original\index.html sample to this:

[code]

(notice the addition of class="ui-icon-alt")

This happens:

http://i.snag.gy/eaXQm.jpg

[2013-07-12 13:21] commadelimited commented on #46
jQuery Mobile icons work on the concept of sprite sheets. That means all of the icons are contained within a single image, for faster loading. Since they're all in one image they're meant to be used within a single space around 20x20, with overflow set to hidden. This prevents them from doing exactly what's happening to you.

This image is a good illustration of how sprite sheets are meant to work

[2013-07-12 13:23] #46 closed, assigned to nobody

[2013-07-12 13:55] Slimicus commented on #46
Ok, I just followed the example on the jqm site, I wasn't aware of any other way to use ui-alt-icon with an anchor tag in jqm?

http://jquerymobile.com/demos/1.3.0/docs/widgets/icons/#Blackvs.whiteiconsets

Their example shows just adding the class to the "<a"

[2013-07-18 16:59] #45 closed, assigned to nobody

[2013-07-22 15:34] SchulteDev opened #51 "Some icons (e.g. "icon-plus", "icon-arrow-r") are displaced in firefox-mobile and chrome-mobile"
Hi,

using this theme I recognized some icons to be displaced in firefox-mobile[1] and chrome-mobile[2](Android 4.2.2). Default-Android-Browser and Safari on iPhone4 work fine.

It seems to me that only icons are displaced, which are already in jquery-mobile-default-icons. Displaced icons I see are: arrow-r, chat, plus, minus, radio-on.

The reason seems to be the overwriting of
  .ui-icon:not(.ui

[2013-07-22 21:29] commadelimited commented on #51
I took a look at your demo page in Chrome for iOS and it looks just like it does in Chrome for the desktop. Could you also provide a screenshot of the problem you're seeing?

[2013-07-23 06:45] SchulteDev commented on #51
Crome-(Android-)Screenshosts are attached. Good to hear, that the problem does not occur on Chrome@iPhone

![screenshot_2013-07-23-07-19-56](https://f.cloud.github.com/assets/1948684/840016/4eec9134-f363-11e2-9ed4-e136b96d352e.png)
![screenshot_2013-07-23-07-20-51](https://f.cloud.github.com/assets/1948684/840017/4ee50ec8-f363-11e2-9a1b-a9a0128eef80.png)
![screenshot_2013-07-23-07-21-14](https://f

[2013-07-23 11:19] SchulteDev commented on #51
Never mind.

I have watched your demo http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/font-awesome/ in my android-chrome - this demo looks fine. So the problem has to be on my side.

[2013-07-23 11:19] #51 closed, assigned to nobody

[2013-07-23 16:10] commadelimited commented on #51
It looks like your phone is identifying itself as high res and gets the media queries, but it doesn't understand the background-size attrbute.

[2013-07-30 13:34] SchulteDev commented on #51
Hmmm, but that does not explain why your demo looks fine in my android-browser, but bestellbaer.de/6 does not, does it?!

Btw., media-queries in jqm-icon-pack-fa.css[1] are slightly different from those in jquery[2]

[1]
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (min--moz-device-pixel-ratio: 1.3),

[2013-08-18 02:51] jawa-the-hutt commented on #6
I have the same issue as seba229 and geiregjo.  the icons all appear in the lower left corner of the button.

I have just commented out the line in the css file for the time being.

[2013-08-22 21:25] mtamony opened #52 "ui-icon-nodisc"
Is this not supported? When I add jqm-icon-pack-fa.css I have both disc and shadow with icon. When I remove it and use a standard icon I have no disc and no shadow.

Thanks.

[2013-08-29 06:41] alienlebarge opened #53 "jQuery Mobile 1.3.x support"
Latest version of [jQuery Mobile](http://jquerymobile.com/) is 1.3.x

Is there any plan/date to support officially this version ?
The [jQuery Mobile Icon Pack website](http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/) mentione that it support only version 1.2.

![napkin 29 08 13 8 41 21 am](https://f.cloud.github.com/assets/611234/1047681/0723fd8a-1076-11e3-81ef-64e402ba32a3.png)

[2013-09-09 16:47] commadelimited commented on #53
Hmm. Didn't realize that demo site was behind the times. I'll work on updating it this week.

[2013-09-10 01:26] commadelimited commented on #52
@mtamony can you provide an example of what you mean?

[2013-09-10 01:45] commadelimited commented on #53
@alienlebarge #54

[2013-09-10 01:46] #53 closed, assigned to nobody

[2013-09-10 15:12] mtamony commented on #52
I just ended up making my own icons. I just can't seem to ever EASILY get rid of that stupid circle around JQM icons. I thought their implementation of ui-icon-nodisc was supposed to but it doesn't seem to do it.

[2013-09-10 15:18] commadelimited commented on #52
Okay. Sorry that you had trouble.

[2013-09-10 15:18] #52 closed, assigned to nobody

[2013-09-16 08:00] rickygu commented on #51
I have the same problem browsing on android. It looks like everything in the fontawesome will work, but once font awesome is included, none of the default icons that came with jquery mobile works anymore.

[2013-09-17 09:28] SchulteDev commented on #51
@rickygu Maybe you open up an own issue to have this problem discussed - my problem does still exist, too.

[2013-09-17 10:01] SchulteDev opened #55 "Default jquery icons not working at jQuery-Mobile-Icon-Pack-demo for google-nexus, mobile-chrome & mobile-firefox"
Hi,

this issue is a new reporting of pull-request #51, but with more insights. For issue-description, please visit #51.

I have seen the pull-request #54. Because of this, it came to my mind, that in my project I am using jquery-mobile-1.3.x.

So I opened your demo again - and voola, in #51 described behaviour now affects the demo, too. Screenshot is attached. See "Back" button in the header.

![

[2013-09-19 16:29] Fyb3roptik commented on #55
I am seeing this issue too

[2013-09-25 12:15] ywehrli commented on #55
me too, especially with the radio buttons

[2013-09-27 15:45] jawa-the-hutt commented on #55
FWIW, I'm seeing this same issue on my iPhone 5 running IOS 7.0.  However, I'm not seeing it on the following devices:
1.  iPhone 3GS running IOS 6.1.3
2.  iPhone 4 running IOS 6.1.3
3.  iPad 3 running IOS 5.1.1   <---  I updated this device this morning to IOS 7.0 and the issue can be reproduced on it.

[2013-09-30 00:38] gercheq opened #56 "Not working with jQueryMobile 1.4.0"
I think buttons lost their extra markup so icons are not working anymore with the latest jQueryMobile 1.4.0

[2013-09-30 08:08] rickygu commented on #55
having the same problem.

[2013-09-30 13:58] commadelimited commented on #56
jQuery Mobile 1.4 is still in beta. I have not yet tested any of my projects with 1.4, but as soon as it's released I'll get on it.

[2013-10-06 08:48] andreasfleck commented on #55
I adding !important for each background-size where background-image is set to icons-36-pack.png:
In jqm-icon-pack-fa.css
search for:
 background-image:url("images/icons-36-white-pack.png") !important;
and set:
 -moz-background-size:774px 54px !important;-o-background-size:774px 54px !important;-webkit-background-size:774px 54px !important;background-size:774px 54px !important

Hope this helps!

[2013-10-06 20:23] ebonato commented on #55
Great fix @andreasfleck !!
Works like a charm!!
Tested on IOS 7.0.2 Safari and mobile-chrome.
jQuery 1.9.1, jQM 1.3.2

[2013-10-07 14:20] jawa-the-hutt commented on #55
Works for me on all of my previously mentioned devices/IOS versions.

Thanks for the fix @andreasfleck

[2013-10-09 10:19] alessandrolattao opened #58 ""bars" icon is missing"
The jquery mobile name for "menu" icon is "bars".
To mantain compability add

.ui-icon-bars    { background-position: -468px -36px; }

to the bottom of jqm-icon-pack-2.0-original.css
:)

[2013-10-16 15:07] codinguncut opened #59 "Documentation"
Your git clone command in the Readme `git clone git@github.com:commadelimited/jQuery-Mobile-Icon-Pack.git` didn't work for me:

<pre>
Warning: Permanently added the RSA host key for IP address '192.30.252.129' to the list of known hosts.
Permission denied (publickey).
fatal: The remote end hung up unexpectedly
</pre>

Using the standard `git clone https://github.com/commadelimited/jQuery-Mobile-Ic

[2013-10-23 23:28] lalaina commented on #55
Works on Mobile Chrome !

Thanks

[2013-10-24 12:35] alirizakeles commented on #6
Yes I have the same. It seems this fix causes new problem.

[2013-11-04 23:33] juddlyon commented on #55
@andreasfleck is a gentleman and a scholar.

Fixed the issue in iOS 7, didn't test elsewhere.
jQuery 1.10.2, JQM 1.3.2

[2013-11-08 16:27] ajimenezdev opened #60 "font awesome icons not working on IOS7 applications"
I have a mobile application with Apache cordova.
I added font awesome to the application and all is working fine with browser and ios version under 7, but with IOS7 the font awesome icons are correct but the rest of the icons are not displaying in correct position.

If I removed the line <link rel="stylesheet" href="static/jqm-icon-pack-fa.css" /> from the code, obviously the font awesome icons no

[2013-11-08 16:49] ajimenezdev commented on #60
I continue testing and it fails too with on safari browser for ios7 and chrome browser on Android device (Nexus 4 with android 4.3).

And not only fails my web application, if I try to access to http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/font-awesome/ font awesome works perfectly but icon on back button is not display correctly

[2013-11-26 02:13] ironicent commented on #60
I am seeing this too. Would someone be able to confirm and look at that?

[2013-12-15 21:33] BenjaminKlatt commented on #60
With iOS7, Apple started to use a pixel ratio of 2. This change includes an issue of how background sizes are processed in context with css media queries. There is a good explanation about this at http://stackoverflow.com/questions/18950334/ios7-ignoring-retina-css-media-queries-background-size

The jQuery Mobile Icon Pack makes use of sprites and background image sizes in combination with media q

[2013-12-26 21:53] m-vdv commented on #56
1.4 has been available for a couple of days, please update the icon pack :+1:

[2013-12-30 17:20] frankabbruzzese commented on #56
Please update the icon-pack to jquery mobile 1.4 :+1:

[2013-12-30 18:41] gasparitiago commented on #56
Please update the icon-pack to jquery mobile 1.4 :+1:

[2014-01-07 20:32] commadelimited commented on #56
The update for this is in progress.

[2014-01-07 20:35] commadelimited commented on #60
Actually the newest version of jQuery Mobile (1.4) uses SVG icons. I've decided to drop the original icon pack icons and simply go with the font awesome icons instead.

[2014-01-07 20:59] m-vdv commented on #56
Great news! Thanks Andy :smile:

[2014-01-15 19:34] commadelimited commented on #59
Hah. Good catch. Fixed in #61.

[2014-01-15 19:34] #59 closed, assigned to commadelimited

[2014-01-15 19:35] commadelimited commented on #55
#61 should make these issues irrelevant. Feel free to test now. Release happens soon.

[2014-01-15 19:36] #55 closed, assigned to nobody

[2014-01-15 19:36] commadelimited commented on #56
#61 is coming soon.

[2014-01-15 19:36] #56 closed, assigned to commadelimited

[2014-01-15 19:36] commadelimited commented on #58
This has been added in #61.

[2014-01-15 19:36] #58 closed, assigned to nobody

[2014-01-15 19:37] commadelimited commented on #60
Check out #61 to test.

[2014-01-15 19:37] #60 closed, assigned to nobody

[2014-01-20 21:52] frankabbruzzese opened #62 "Icon Pack for jquery mobile 1.4 doesnt work in Internet Explorer"
Also in your demo page(http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/)  icons are not visible in Internet explorer 9 and 10

[2014-01-20 21:58] frankabbruzzese commented on #62
They don't work also in Opera

[2014-01-22 16:40] kennethahn opened #63 "Bars icon name differs from jquery mobile"
I ran into a problem where the bars-icon from jquery mobile would disappear when I include the jquery mobile icon pack. After ... spending too much time searching for a solution, I realize the icon is called "menu" in the icon pack.

This means all buttons with data-icon="bars" will just display a +-sign unless I rename them to data-icon="menu" (in which case they don't work with vanilla jqm ).

I

[2014-01-27 14:26] commadelimited commented on #63
@kennethahn I've released an upgrade to Icon Pack which changed some of the icon names. Could you please double check this behaviour?

[2014-01-27 14:26] commadelimited commented on #62
@frankabbruzzese I've released an update to Icon Pack that changes the way icons are attached to elements. Would you please confirm that this behaviour still exists?

[2014-01-27 15:54] kennethahn commented on #63
Well, it seems ok in the latest version - but that doesn't work with older jquery mobile. :)
Anyways, I used the attached html snippet to test.

Thank you for your efforts.

Cheers,
Kenneth

[code]

[2014-01-27 15:57] #63 closed, assigned to nobody

[2014-01-27 17:11] frankabbruzzese commented on #62
@commadelimited ,
Just now I cloned again your upgrade 1.4 repository, that is the one with the upgrade for jquery mobile 1.4. The problem with opera and explorer persists. The behavior in the two browser is different, in IE9 icons are not visible at all, while in opera, some strange pixel patterns are shown.
Since both Opera and IE9-10 supports svg url format, for sure they show the svg without f

[2014-01-28 20:37] commadelimited commented on #62
Interesting catch @frankabbruzzese. I'll look at replacing the charset and see if that fixes it.

[2014-02-02 16:11] saulojg commented on #62
Hello, icons aren't visible on FF 26.0 either ...

[2014-02-02 16:22] saulojg opened #64 "Icons slightly displaced on Chrome v32 (JQM 1.4)"
Please see image below

![Example](https://dl.dropboxusercontent.com/u/6434162/jqm-icons-01.png)

[2014-02-03 05:30] commadelimited commented on #64
@mand1nga I noticed that while I was putting the icons together. I've decided for now to leave it as is. Positioning the icons is a huge pain as I have to do each of them one at a time. Plus given that different people use them differently, no one person's configuration would match up with my test data.

[2014-02-06 15:54] nicolasgrolleau opened #65 "Icons displayed in the wrong color when using the builder"
When I use the builder to have a smaller icon pack, the icons are displayed in black instead of white, which make them nearly invisible with jquerymobile 1.4 theme b.

Everything is ok when using the full pack.

This issue is visible also in the index.html generated in the custom icon pack. (more visible after adding data-theme="b" to a anchor line)

[2014-02-08 02:35] commadelimited commented on #65
Changed the default color of the downloaded icons to white in [55d64ae](https://github.com/commadelimited/jQuery-Mobile-Icon-Pack-Builder/commit/a9dbde2bcbdc1301647aee72d57fbbf33b5e4a8b).

[2014-02-08 02:35] #65 closed, assigned to nobody

[2014-02-10 16:35] vordan commented on #62
Not visible in FF 27

[2014-02-10 17:03] commadelimited commented on #62
Noted everyone. I'll get on this one as soon as possible.

[2014-02-11 04:41] bleuscyther commented on #62
It only works on chrome

[2014-02-17 06:54] KeldOelykke commented on #62
I recon its an embedding problem too.
If I do as follows I can get it to work in Firefox:

.ui-icon-beer:after {
    background-image: url(../jqmip1317786/source/SVG/beer.svg);
    background-size: 16px 16px;
}
, but ofc it is black and not default white, since color is injected in embedding.

[2014-02-17 10:43] KeldOelykke commented on #62
It seems that there is an illegal part "\9" in the embedded svg. Firefox says as follows when inspecting 'adjust' on the icon page:

XML Parsing Error: unclosed token
Location: data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3

[2014-02-17 10:47] frankabbruzzese commented on #62
1) It works o chrome and safari, but not in IE, FF, and Opera.
2) As I already pointed out the "illegal char" might depend of a charset mismatch. This would explain why it works in some browser (more tolerant) and it doesn't i other ones.

[2014-02-17 19:18] r4co0n commented on #62
Hey guys,
the offending character is the "#" with "#ffffff". If you swap "#ffffff" for "%23ffffff" in your jqm-iconpack .css you will be fine :) Same goes for manipulate.py, though I recommend adding a replace rule there à la
    xml = xml.replace('#', '%23') #for stringify
    str = str.replace('%23',#) #for destringify

cheers

P.S. Firefox and Internet Explorer seem to treat the # as comment st

[2014-02-17 19:20] commadelimited commented on #62
Ah, thanks @r4co0n, that's an easy enough swap. I'll take a look at changing that out soon.

[2014-02-24 14:42] dasheddot commented on #62
Just updated to JQM 1.4. and reverted it, when I run into this issues. So, is there any progress going on there? :)

[2014-02-25 02:12] #64 closed, assigned to nobody

[2014-02-25 02:43] commadelimited commented on #62
Thanks to everyone who alerted me to this issue. I made the change suggested by @r4co0n and it fixes it in Firefox. I'm on a Mac and don't have IE available to me but I'm going to guess that this resolve the IE issue as well. Could I please get some confirmation?

[2014-02-25 14:21] frankabbruzzese commented on #62
Sorry I can't give you a confirmation. On windows, while icons work on the las versions of Chrome, Safari, and Firefox, icsons don't work in IE and Opera.
I return in my opinion: there is a charest mismatch. The problem with the # char is just a synthom of this more general problem. Using char encoding for # just solves some of the char mismatches.
P.S. I verified this on your on-line demo...so if

[2014-02-26 01:45] rthijssen commented on #62
I just checked an the icons are working for me in IE. They are also appearing in Firefox atm. Unfortunately the icons are not working in slightly older Android devices (2.3.6). Would be great if someone could verify that though.

[2014-02-26 13:08] frankabbruzzese commented on #62
@rthijssen
have you tried the demo web site or have you arranged your own demo?
The demo web site doesn't work for me both on ie9 and ie10. Maybe you used an older ie version and jq mobile revert to png images...??

[2014-02-26 23:36] rthijssen commented on #62
@frankabbruzzese I did both.
The demo site is not working for me on Android 2.3.6 or IE. On Android it looked like the alignments where off. On IE the icon box is empty.

In my own demo (no png fallback) no icons appeared on the Android device but the icons did work in IE (including IE Mobile). Stuff you might want to know:
1. I replaced the '${icon_color}' part with '%23FFF'.
2. Pure CSS, so no p

[2014-02-27 05:44] commadelimited commented on #62
Okay. I reuploaded the demos just to be on the safe side: http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/ They work fine in Chrome and Firefox for Mac. I'm in the process of downloading a VM for IE 10 Windows 7. I'll test in that as soon as it's done installing. I'll download Opera as well and test in that too.

We'll get this whipped.

[2014-02-28 03:09] commadelimited commented on #62
Alright. I downloaded the IE 10 VM and I can confirm that the icons are missing. The icons do however show in Opera 19.0 for Mac. I'll dig further into this.

[2014-03-03 02:26] commadelimited commented on #62
Alright, after a long weekend of wrestling with SVG icons, I gave in and started using Grunticon, a Grunt task from @filamentgroup. I've reworked all of the icons, as well as the CSS files and it should be much better now. I've confirmed the icons to display in Chrome, Firefox and Opera for the Mac, as well as IE10 for Windows 7 (via VM).

The [demo page](http://andymatthews.net/code/jQuery-Mobile

[2014-03-03 04:30] rthijssen commented on #62
First of all thanks heaps @commadelimited for all your hard work so far. It's much appreciated.

I can confirm that your demo page is working in Firefox, Chrome, IE, IE Mobile and Safari Mobile. I was also able to test it on a few newer Android devices. The icons appeared in these browsers.

Unfortunately I don't see any icons in Opera. Opera returns the following error:

[code]

Also the icons ar

[2014-03-03 04:44] commadelimited commented on #62
@rthijssen which version of Opera? I'm using 19.0 for Mac and the icons load up fine on the demo page.

I don't have an older Android device with which to test, but can you tell me if the icons on this page show up for that device?
http://demos.jquerymobile.com/1.4.2/icons/

[2014-03-03 05:22] rthijssen commented on #62
I tested it on the Linux version of Opera which is version 12.16.

When I previously tested an icon using the following CSS line it worked fine in this Opera release.

[code]
- Please note the `%23FFF` as the defined color

The jQuery Mobile demo site icons are appearing on the Android device.

It would be great if somebody can verify that the icons are not working on Android 2.3.6 devices.

[2014-03-04 01:15] ghost opened #67 "Icons do not work with 1.4.2"
I saw you upgraded your icon pack, which was all that was holding me back from upgrading my jQM project to 1.4. I upgraded to 1.4.2 and wiped out the old icon pack and installed the new. However I am not seeing any icons whatsoever. I have tried Chrome, Firefox and IE. Any ideas? If I don't use Grunt all i need is the css and png fallbacks correct? thanks

[2014-03-06 00:59] rthijssen commented on #62
@commadelimited I think it might have something to do with the .ui-nosvg not working on the demo site. I just added the png fall back to my local test and the icons seem to work on Opera and the older Android device.

[2014-03-06 22:10] mark-orussa opened #68 "many icons are offset, not centered"
See the screenshot:
(http://imageshack.com/a/img32/8409/p6wx.png)
![icon-pack-icon-offset](https://f.cloud.github.com/assets/6054304/2351375/6775883a-a57b-11e3-8df0-ed9cd3fa6d8e.png)

This was a random sampling. Not all of the icons are offset, but many are. I downloaded the icon pack using the git clone command. The screenshot was taken from the index.html file opened directly from the folder.

T

[2014-03-07 05:15] commadelimited commented on #67
@livewire1407 Are you seeing icons on the [demo page](http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/)? I just updated to 1.4.2 for the demo page and the icons work just fine for me in Chrome/Firefox/Opera for Mac, and IE10 for Windows 7.

[2014-03-07 05:30] commadelimited commented on #62
Given that the title of this issue specifically relates to IE, I'm going to close this as completed. If Android is still a problem please open a new issue for that please.

[2014-03-07 05:30] #62 closed, assigned to nobody

[2014-03-07 05:33] commadelimited commented on #68
@musicelect This is intentional (for now at least). There's so many custom implementations of jQM applications nowadays that even if I positioned each icon, your app's placement of those icons might be off, or someone else's might be off. For the time being I plan on leaving the icons as is, and get the developers to position them as needed for their specific application. If enough people bring it

[2014-03-07 05:33] #68 closed, assigned to nobody

[2014-03-07 05:53] mark-orussa commented on #68
Can you point me to a forum thread or other source on how to position the icons? I've tried to search, but those are such generic terms I couldn't find any info about it.

Mark

[2014-03-07 06:05] commadelimited commented on #68
@musicelect It's easy enough. In your CSS, for the icon you'd like to position, add a `background-position` declaration. So for example the first icon in the demo page, `adjust`, might look like this if I wanted to reposition it:

[code]

You can use any unit you'd like, but you'd need to have that block above for each icon, by name.

[2014-03-07 11:13] frankabbruzzese commented on #62
For me it works on all android browsers: native, opera, chrome, firefox.
It works also on windows: firefox, chrome, safari, IE9-10
BUT IT DON'T WORK on OPERA FOR WINDOWS
I just experimented with your demo page

[2014-03-07 14:37] commadelimited commented on #62
Okay @frankabbruzzese, would you open a new ticket for Opera for Windows support please? Include OS version and browser version.

[2014-03-07 15:42] frankabbruzzese commented on #62
@commadelimited,
Before opening the ticked I will setup another experiment. Maybe the problem is your demo web site and not the icons, because opera actually "freeze" once your demo page is loaded, while with the previous icon version the demo web site loaded normally(without showing the icons...hough)

[2014-03-07 16:05] commadelimited commented on #62
Yeah. There are a lot of icons there.

[2014-03-07 22:41] ghost commented on #67
i do see it, albeit the icons are mostly off center. I'll dig in to your demo page and see if I can compare it to what I'm doing and try to find the issue.

[2014-03-07 22:59] ghost commented on #67
If i follow your readme and do this

## Font Awesome Icon Pack Usage

Drop `jqm-icon-pack-fa.css` and the associated `png_images` folder into your project. Images are relative to the CSS file. Use them just as you would the standard icons.

and then include the jqm-icon-pack-fa.css file in my project, I see nothing.

If I remove that file, but add  and include icons.data.png.css, then I see them a

[2014-03-10 19:15] dnrce opened #69 "Icons are off center"
Many icons are positioned slightly to the left of center. This is visible when viewing the demo page in Chrome and Firefox on Windows 7.

[2014-03-14 22:48] dpolivy opened #70 "Icon Pack Builder generated CSS/SVG doesn't work in IE"
Looks to be related to this issue:
https://github.com/commadelimited/jQuery-Mobile-Icon-Pack/issues/62

Does the fix also need to be ported over to the Builder codebase?

[2014-03-15 00:11] commadelimited commented on #70
It does. I just haven't made the time to do it yet.

[2014-03-15 00:12] commadelimited commented on #69
This is the same as #68. For the time being I'm intentionally not doing this work.

[2014-03-15 00:12] #69 closed, assigned to nobody

[2014-03-15 00:14] dnrce commented on #69
Whoops, sorry for the dupe.

[2014-03-15 00:23] commadelimited commented on #69
No worries at all. There's just so many icons and they might still be off center in someone's implementation.

[2014-03-17 00:02] ghost commented on #67
still in the same situation. I have looked things over several times. Any ideas?

[2014-03-17 02:04] commadelimited commented on #67
@livewire1407 Do you perhaps have a demo page up I can inspect?

[2014-03-17 02:15] ghost commented on #67
its a project that only accessible via login, I am going to email you credentials and link

[2014-03-18 05:47] commadelimited commented on #67
Okay. Going from your email:

Is there any way you could put up an alternate page which uses the SVG icons? Alternately I could swap out the CSS files if you could tell me the path to the main CSS file.

Also, the SVG icons do have a color, but it's baked into the SVG code itself. Look at the `background-image` declaration. At the end of that long string you'll see `fill%3D%22%23000000%22`. That e

[2014-03-26 12:23] HStokbro opened #71 "Icons not centered"
The icons are built, so they er placed left in the 16 x 16 pixels. This goes for both png and svg. They should be centered.

Check out "angle-right" on this page:
http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/

[2014-03-26 12:28] HStokbro opened #72 "Builder should build both white and black icons"
JQM has two files for every icon. One primary and one alternative. One white and one black.
video-black.png
video-white.png

The builder should build like that.

[2014-03-26 12:31] HStokbro opened #73 "Builder does not work if many icons are selected"
I tried selecting 50 and more icons on the builder site. I need a lot of icons:
http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/builder/

The download buttons just reloads the page, when a lot of icons are selected

Here is a codesnippet for selecting 50 in the console:
$('i').each(function(i){ if (i<50) {$(this).click()} });

(I am using newest Chrome on windows)

[2014-03-26 12:33] HStokbro opened #74 "Selecting colors for primary and alternative icons"
It would be nice if we could set the color of the primary and alternative icons.
In jQuery ThemeRoller you can select if the primary is white or black. The alternative icons becomes the other color.

[2014-03-29 13:00] frankabbruzzese opened #75 "Error in Builder Tool"
The builder tool to build custom icon sets has an error. The arrow-down icon (next to the ban icon) has a wrong title (ban5) and whenever it is included in a download the download fails.

[2014-03-29 14:14] frankabbruzzese opened #76 "Wrong Color in Icons Produced by the Builder Tool"
All Icons created by the builder tool(http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/builder/) have the wrong color  Instead of being white semi-transparent, so they may adapt to the background they are black.

[2014-03-29 16:16] commadelimited commented on #71
@HStokbro Yes. I'm aware of the centering issues. For the time being I'm leaving it as is. Please see the updated readme concerning [centered icons](https://github.com/commadelimited/jQuery-Mobile-Icon-Pack#centered-icons).

[2014-03-29 16:17] #71 closed, assigned to nobody

[2014-03-29 16:19] commadelimited commented on #72
I'm closing this one out in favor of the same issue in the Builder repo.

[2014-03-29 16:19] #72 closed, assigned to nobody

[2014-03-29 16:20] #73 closed, assigned to nobody

[2014-03-29 16:21] commadelimited commented on #74
Yep. That's a good feature.

[2014-03-29 16:21] #74 closed, assigned to nobody

[2014-03-29 16:21] #75 closed, assigned to nobody

[2014-03-29 16:22] #76 closed, assigned to nobody

[2014-03-29 16:22] #70 closed, assigned to nobody

[2014-05-21 13:25] #67 closed, assigned to nobody

[2014-07-25 01:49] commadelimited opened #79 "Icons are clipped"
The `camera` and `bar-chart-o` icons are clipped on the right side.

[2014-09-14 01:11] hailiang-wang opened #80 "sign in and sign out are labeled as opposite icons"
hi, guys

I just find an interesting thing, the sign in and sign out btns are not rendered as what I see in font awesome.
http://fortawesome.github.io/Font-Awesome/icon/sign-in/
http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/
And I think this is a defect of jQuery-Mobile-Icon-Pack.
Please take a look, thanks.

Hain

[2014-10-06 13:16] sureshdrim opened #81 "Icons not loading with JQuery mobile 1.3.2"
Hi,
Great work!
I have an issue. Icons not loading with JQuery mobile 1.3.2.
I can see them loaded through firebug but still they are invisible in browser.
Please help.

[2014-11-28 16:38] spawnrider commented on #81
Same issue...
Edit : It is ok!
From the author :
If you're looking to support jQuery Mobile 1.3 (or lower) applications, you can use the 1.3.x tagged build for that release.

[2015-08-06 13:55] andrzejpolis commented on #71
Really? I cannot believe this can be left as it is... This makes this project unusable. Half of this icons look like crap. That is really sad. Whole idea is really great. Hope someone will make an effort to fix it someday.

[2015-08-06 16:07] commadelimited commented on #71
1) pull requests are always welcome.
2) it's highly unlikely that the centering will be correct for every use case. That means that you'll likely be adjusting the centering for your implementation. Why spend time changing something that you'll also have to change?

[2015-12-04 16:31] Zaheer-Abbas opened #82 "Icons not working"
I had added right path of all files and did ui-icon-fa-android not working

[2016-06-21 19:26] #79 closed, assigned to commadelimited

[2016-12-08 16:31] ghost opened #83 "JQM version ?"
Hi,

It is unclear which JQM version this package support?